/** Header **/
header {
  border-top: 5px solid $cor-padrao;
  background: rgba($cor-auxiliar, 0.8);
  height: 90px;
  width: 100%;
  position: absolute;

  @media #{$md-mobile} {
    height: auto;
  }

  .container {
    position: relative;
  
    @media #{$md-mobile} {
      position: static;
    }
  }

  h1 {
    @media #{$md-mobile} {
      max-width: 50%;
      margin: 0 auto;
    }

    img {
      @media #{$md-mobile} {
        max-width: 100%;
        margin: .5em auto;
        display: block;
      }
    }
  }
}

.menu-opcoes {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter;

  @media #{$md-mobile} {
    position: static;
    display: block;
    text-align: center;
    width: auto;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    width: 5em;
  
    @media #{$md-mobile} {
      margin: .4em;
      width: auto;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}